<%- include("../partials/header") %>

<h3><%= skill.name %></h3>
<p><%= skill.description %></p>
<h4>Level: <%= skill.level %></h4>
<h4>Years of Experience: <%= skill.yearsOfExperience %></h4>

<!-- Button for deleting the skill -->
<form action="/skills/<%= skill.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"> 
    <button type="submit">Delete</button>
</form>

<%- include("../partials/footer") %>