<%- include("../partials/header") %>

<h3><%= skill.name %></h3>
<p><%= skill.description %></p>
<h4>Level: <%= skill.level %></h4>
<h4>Years of Experience: <%= skill.yearsOfExperience %></h4>

<%- include("../partials/footer") %>
